[submodule "stm32f429_discovery_no_os/lvgl"]
	path = stm32f429_discovery_no_os/lvgl
	url = https://github.com/littlevgl/lvgl.git
[submodule "stm32f429_discovery_no_os/lv_examples"]
	path = stm32f429_discovery_no_os/lv_examples
	url = https://github.com/littlevgl/lv_examples.git
