[submodule "stm32f429_discovery_no_os/lvgl"]
	path = stm32f429_discovery_no_os/lvgl
	url = https://github.com/littlevgl/lvgl.git
[submodule "stm32f429_discovery_no_os/lv_examples"]
	path = stm32f429_discovery_no_os/lv_examples
	url = https://github.com/littlevgl/lv_examples.git
[submodule "arduino_library/src"]
	path = arduino_library/src
	url = https://github.com/littlevgl/lvgl.git
[submodule "arduino_library/littlevgl/src"]
	path = arduino_library/littlevgl/src
	url = https://github.com/littlevgl/lvgl.git
[submodule "linux_frame_buffer/lvgl"]
	path = linux_frame_buffer/lvgl
	url = https://github.com/littlevgl/lvgl.git
[submodule "linux_frame_buffer/lv_examples"]
	path = linux_frame_buffer/lv_examples
	url = https://github.com/littlevgl/lv_examples.git
[submodule "linux_frame_buffer/lv_drivers"]
	path = linux_frame_buffer/lv_drivers
	url = https://github.com/littlevgl/lv_drivers.git
[submodule "pic32mx_r61581_no_os/lv_examples"]
	path = pic32mx_r61581_no_os/lv_examples
	url = https://github.com/littlevgl/lv_examples.git
[submodule "pic32mx_r61581_no_os/lvgl"]
	path = pic32mx_r61581_no_os/lvgl
	url = https://github.com/littlevgl/lvgl.git
[submodule "pic32mx_r61581_no_os/lv_drivers"]
	path = pic32mx_r61581_no_os/lv_drivers
	url = https://github.com/littlevgl/lv_drivers.git
